body{
    background:gray;
    font: normal  10pt Arial;
    
}
header{
    color: white;
    text-align: center;
    font-style: italic;
    
}
section{
    background:white;
    border-radius: 30px;
    padding: 20px;
    width: 180px;
    margin: auto;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.366);
    
}
footer{

    background:white;
    border-radius: 50px;
    padding: 30px;
    width: 180px;
    margin: auto;
    color: black;
    text-align: center;
    font-style: italic;
}